<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.courier.db.mapper.ApiconfigMapper">
  <resultMap id="BaseResultMap" type="com.courier.db.entity.Apiconfig">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="source" jdbcType="TINYINT" property="source" />
    <result column="token" jdbcType="CHAR" property="token" />
    <result column="permission" jdbcType="TINYINT" property="permission" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
</mapper>